<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","backgroundColor":"vivid-purple","textColor":"white"} -->
<h2 class="wp-block-heading has-text-align-center has-white-color has-vivid-purple-background-color has-text-color has-background">FILMS</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[5]},"parents":[]},"tagName":"main","displayLayout":{"type":"flex","columns":5},"layout":{"type":"default"}} -->
<main class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group -->
<div class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"height":"250px","style":{"border":{"width":"2px","radius":"10px"}},"borderColor":"luminous-vivid-orange"} /-->

<!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","backgroundColor":"vivid-purple","textColor":"white"} -->
<h2 class="wp-block-heading has-text-align-center has-white-color has-vivid-purple-background-color has-text-color has-background">MEET OUR TEAM</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":8,"query":{"perPage":"5","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[7,9,8]}},"displayLayout":{"type":"flex","columns":5}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-title {"textAlign":"center","level":3,"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"align":"wide","style":{"border":{"radius":"10px","width":"2px"}},"borderColor":"luminous-vivid-orange"} /-->

<!-- wp:post-excerpt /-->

<!-- wp:post-date /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->